* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #999;
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #333;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 85%;
    justify-content: center;
}

.container h1,
.container h2 {
    text-align: center;
}

.container img {
    margin: 30px 0 0 50px;
    height: auto;
    width: auto;
}

.column {
    flex-direction: column;
}

.bio p {
    margin: 20px 0 0 50px;
    text-align: justify;
}

.bio h2 {
    margin-top: 30px;
}

.albums {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.albums h2 {
    margin-top: 10px;
}

.albums a {
    color: #000;
    text-decoration: none;
    margin-top: 10px;
}

.albums a:hover {
    color: #c52222;
    transition: 400ms ease-in-out;
}

.albums a:after {
    display: block;
    content: '';
    border-bottom: solid 2px #d95d5d;  
    transform: scaleX(0);  
    transition: transform 400ms ease-in-out;
}

.albums a:hover:after {
    transform: scaleX(1);
}

footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #2c2c2c;
}

.footer_copy {
    display: flex;
    justify-content: center;
}

.footer_copy p {
    margin-top: 10px;
}

/* Adding hover effects to link */

.footer_copy a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.footer_copy a:hover {
    color: rgb(9, 56, 156);
    transition: 500ms;
}

.footer_copy a::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: rgb(9, 56, 156);
    transition: 400ms;
}
  
.footer_copy a:hover::after {
    width: 100%;
}